<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kassem.mohamad.checkinclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/checkin1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/signup_activity"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".SpeceficClass" />
        <activity
            android:name=".Student_of_lectures"
            android:label="@string/title_activity_student_of_lectures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prof_lectures"
            android:label="@string/title_activity_prof_lectures"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".request_lectures" />
        <activity android:name=".SpeceficStudentClass" />
        <activity android:name=".ProfPresence" />



        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="com.example.broadcast" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".AutoStart"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>